.App {
  text-align: center;
  margin-top: 50px;
  font-family: Arial;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.result {
  margin-top: 30px;
  text-align: left;
  display: inline-block;
}
